tls {
  defaults {
    verify_incoming = true
    verify_outgoing = true
    ca_file = "{{ consul_ca_file_path }}"
    cert_file = "{{ consul_cert_file_path }}"
    key_file = "{{ consul_key_file_path }}"
  }
  internal_rpc {
    verify_server_hostname = true
  }
}

auto_encrypt {
  allow_tls = true
}

ports {
  grpc_tls = 8503
}