plugin "docker" {
  config {
    volumes {
      enabled      = true
      selinuxlabel = "z"
    }
    allow_privileged = {{ plugin_docker_allow_privileged }}
    allow_caps = [
      {% for capability in plugin_docker_allow_caps %}
      "{{ capability }}",
      {% endfor %}
    ]
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}