tls {
  http = true
  rpc  = true

  ca_file = "{{ nomad_ca_file_path }}"
  cert_file = "{{ nomad_cert_file_path }}"
  key_file = "{{ nomad_key_file_path }}"

  verify_https_client    = true
  verify_server_hostname = true
}